
<div class="container">
  <h2>Edit creature</h2>

  <%= form_for @creature do |f| %>

  <span>Name</span>
  <%= f.text_field :name %>

  <span>Description</span>
  <%= f.text_area :description %>

  <%= f.submit "Save Creature"%>

  <% end %>

  <a href="/creatures">All Creatures</a>
  <a href="/creatures/new">Add a Creature</a>

</div>
