
<div class="container">

  <h1>Creatures in the Bog</h1>

    <% @creatures.each do |element|%>

      <div class="row">

        <div class="col m3"><%= element.name %></div>
        <div class="col m3"><%= element.description %></div>

      </div>

    <% end %>

    <a href="/creatures">All Creatures</a>
    <a href="/creatures/new">Add a Creature</a>


</div>
