
<div class="container">
  <h2>Add a new creature</h2>
  <%= form_for :creature, url: "/creatures", method: "post" do |f| %>

  <span>Name</span>
  <%= f.text_field :name %>
  <span>Description</span>
  <%= f.text_area :description %>
  <%= f.submit "Save Creature"%>

  <% end %>

</div>
